.navbar-backward {
  color: var(--color-font);
}

.selected__song-cover {
  margin: 30px 0px;
  /* background-color: violet; */
}
.selected__song-cover img {
  border-radius: 20px;
  box-shadow: 0px 5px 10px 3px rgba(8, 8, 8, 0.308);
}

.selected__song-singer {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--color-font);
  margin: 10px 0px;
  /* background-color: wheat; */
}

.selected__song-range {
  width: 100%;
  margin: 10px 0px;
  /* background-color: rgb(190, 243, 185); */
}

.range-timeofsong {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  font-size: 10px;
  color: var(--color-lightfont);
}

#timebar {
  width: 100%;
}

.selected__song-playBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px;
}

.song-playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding-left: 4px;
  box-sizing: border-box;
  color: white;
  background-color: var(--color-font);
  box-shadow: 0px 5px 10px 3px rgba(8, 8, 8, 0.308);
  cursor: pointer;
}

.selected__song-playBtn i {
  cursor: pointer;
}

.selected__song-playBtn i:active {
  transform: scale(0.98);
}

.song-playBtn:active {
  transform: scale(0.98);
}
